In [ ]:
print("hello python")

hello python

In [ ]:
a=23
b=43
print(a)
print(b)

23
43

In [ ]:
lS=['krusha','milin','malav','kinnu','ishani',11,22,33.3,44.4,55.5]
print(type(lS))
print(lS)
print(lS[1:6])
lS.append(66.6)
print(lS)
lS.pop()
print(lS)
lS.append('Tarun')
print(lS)
lS.index(11)
tup=lS()

<class 'list'>
['krusha', 'milin', 'malav', 'kinnu', 'ishani', 11, 22, 33.3, 44.4, 55.5]
['milin', 'malav', 'kinnu', 'ishani', 11]
['krusha', 'milin', 'malav', 'kinnu', 'ishani', 11, 22, 33.3, 44.4, 55.5, 66.6]
['krusha', 'milin', 'malav', 'kinnu', 'ishani', 11, 22, 33.3, 44.4, 55.5]
['krusha', 'milin', 'malav', 'kinnu', 'ishani', 11, 22, 33.3, 44.4, 55.5, 'Tarun']

5

In [ ]:
d={
    101:'krusha',
    102:['malav','milin','ishani']
}
print(d)
print(d[102][2])
print(d.keys())
print(d.values())
print(d.items())

{101: 'krusha', 102: ['malav', 'milin', 'ishani']}
ishani
dict_keys([101, 102])
dict_values(['krusha', ['malav', 'milin', 'ishani']])
dict_items([(101, 'krusha'), (102, ['malav', 'milin', 'ishani'])])

In [ ]:
a=23
b=56
if(a<b):
  print(f"{a} is greater then {b}")
else:
  print(f"{b}is less then {a}")

23 is greater then 56

In [ ]:
for i in range(0,11,2):
  print(i*i,end="\t")
for i in range(11,-1,-1):
  print(i*i,end="\t")

0	4	16	36	64	100	121	100	81	64	49	36	25	16	9	4	1	0

In [ ]:
num=[1,2,3,4,5]
ls2=[]
for i in num:
  ls2.append(i*i)

print(ls2)

[1, 4, 9, 16, 25]

In [ ]:
num=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
even_ls=[]
odd_ls=[]
for i in num:
  if i%2==0:
    even_ls.append(i)

  else:
    odd_ls.append(i)


print(even_ls)
print(odd_ls)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
st="krusha"

for i in st :
  print(i)

k
r
u
s
h
a

In [ ]:
st="krusha"
ls=[]
for i in st :
  if i in ' a,e,i,o,u':
     ls.append(i)

print(ls)
print(len(ls))

['u', 'a']
2

In [ ]:
d={
    101:'krusha',
    102:['milin','malav','ishani']
 }
for i in d.values() :
      print(i)

krusha
['milin', 'malav', 'ishani']

In [ ]:
def add_num():
  a=int(input("enter no 1 :"))
  b=int(input("enter no 2 :"))
  res=a+b
  print("add :",res)

add_num()

enter no 1 :45
enter no 2 :345
add : 390

In [ ]:
def add_num():
  a=int(input("enter no 1:"))
  b=int(input("enter no 2:"))
  res=a+b
  return res

add=add_num
print("add:",add)

add <function add_num at 0x788931ae8900>

In [ ]:
def div_num ():
  a=int(input("enter no 1:"))
  b=int(input("enter no 2:"))
  res=a%b
  res1=a/b
  print("remi", res)
  print("div", res1)

div_num()

enter no 1:45
enter no 2:2
remi 1
div 22.5

In [ ]:
x=56
def set_x():
  x=23
  print(x)

def get_x():
   print(x)

get_x()
set_x()

56
23

In [ ]:
def sum_all(*num):
  return sum (num)
print(sum_all(1,3,5,7,9,12,13,))
print(sum_all(23,22,44,55,66,77,66,88,99))

50
540

In [ ]:
from os import name
def print_details(**info):
  for key, value in info.items():
   print(f"{key}:{value}")
print_details(name='krusha',age=23,city='USA')

name:krusha
age:23
city:USA

In [ ]:
def fact(n):
  if n==1:
    return 1
  return n* fact(n-1)


print(fact(5))

120

In [ ]:
a ,b=23,34
a= temp
a=b
b= temp
print('a',a)
print('b',b)

a 34
b 23

In [ ]:
num = int(input("Enter a number: "))
fact = 1

if num < 0:
    print("Factorial is not defined for negative numbers.")
elif num == 0:
    print("Factorial of 0 is 1")
else:
    for i in range(1, num + 1):
        fact *= i
    print(f"Factorial of {num} is {fact}")

Enter a number: 4
Factorial of 4 is 24

In [ ]:
f = int(input("Enter number for the series"))
a, b = 0, 1
for _ in range(f):
    print(a)
    a, b = b, a + b
# fabonaci serices

Enter number for the series8
0
1
1
2
3
5
8
13

In [ ]:
f = int(input("Enter number for the series"))
a, b = 0, 1
for i in range(f):
    print(a,end=" ")
    temp =a
    a=b
    b=temp+b

Enter number for the series6
0 1 1 2 3 5

In [ ]:
st='krusha'
rev_st=st[::-1]
print(rev_st)

ahsurk

In [ ]:
s = "madam" # string

if s == s[::-1]:
    print("Yes")
else:
    print("No")

Yes

In [ ]:
num=[12,34,565,78,98,90,99,122,456,76.890]
minmum=min(num)
maximum=max(num)
print(maximum,minmum)

565 12

In [ ]:
numbers=[10,40,60,30,80,100] # Find Min and Max no of this list

minimum = min(numbers)
maximum = max(numbers)
print(minimum, maximum)

10 100

In [ ]:
def is_palindrome(s):
    return s == s[::-1]

print(is_palindrome("madam"))
print(is_palindrome("hello"))

True
False

In [ ]:
# remove duplicate from
a = [1,2,2,3,1,4,5,6,4,5] # remove duplicates

a = list(set(a))

print(a)

[1, 2, 3, 4, 5, 6]

In [ ]:
st = input("Enter the String: ")
word_count = len(st.split())
print(f"Number of words: {word_count}")

Enter the String: krusha
Number of words: 1

In [ ]:
#list compherhension
even_list=[i for i in num if i%2==0]
print('even num',even_list)

even num [12, 34, 78, 98, 90, 122, 456]

In [ ]:
#find the square of number
num=[1,2,3,4,5,6,7]
sq=[num**2 for num in num]
print(sq)

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
#extract first letter of each word
st=['krusha','milin','malav','kinnu','tarun']
fst_case=[w[0]for w in st]
print(fst_case)

['k', 'm', 'm', 'k', 't']

In [ ]:
#reverse string in list
rev_st=[w[::-1] for w in st]
print(rev_st)

['ahsurk', 'nilim', 'valam', 'unnik', 'nurat']

In [ ]:
#get the length of each word
count_st=[len(w) for w in st]
print(count_st)

[6, 5, 5, 5, 5]